In [1]:
import asyncio 
import copy
from convtools.contrib.tables import Table
from convtools import conversion
from flatten_json import flatten
from helperFunction import getJobID, getJobInfo
import json
import os
import pandas
import requests
from sqlalchemy import create_engine

In [2]:
positions = [
    'SAP-Entwickler/SAP-Berater',
    'IT-Projektmanager',
    'Softwareentwickler',
    'Business Intelligence Analyst',
    'IT-Controller',
    'IT-Berater',
    'Produktmanager',
    'App-Entwickler',
    'Anwendungsentwickler',
    'Datenbankspezialist',
    'ERP Manager',
    'Data Analyst',
    'Data Scientist',
    'Data Engineer',
    'Projektmanager',
]

### V4 API call

In [3]:
page = 1
size = 100
base_url = 'https://rest.arbeitsagentur.de/'
joblist = []

for position in positions:
    url = f'{base_url}jobboerse/jobsuche-service/pc/v4/jobs?angebotsart=1&was={position}&page={page}&size={size}&pav=false'

    data = requests.get(url).json()
    df = pandas.DataFrame(data['stellenangebote'])
    joblist.append(df)

#example jobtable
joblist[0].head()

,beruf,titel,refnr,arbeitsort,arbeitgeber,aktuelleVeroeffentlichungsdatum,modifikationsTimestamp,eintrittsdatum,hashId,externeUrl,logoHashId
0,Entwickler/in - Datenvisualisierung,(Junior) Berater*in SAP Integration,12288-2850159721-S,"{'plz': '10178', 'ort': 'Berlin', 'region': 'B...",NTT DATA Business Solutions,2023-02-06,2023-03-13T09:56:12.898,2023-03-14,lLhOlE7RbVfXGIJy0NQeLEExNY8nupp2pMOpK2nEXY8=,https://www.persy.jobs/persy/l/job-adqtt-b,NaN
1,Berater/in - digitale Transformation,SAP BI / BW Entwickler / Consultant (w/m/d),10000-1193549791-S,"{'plz': '69469', 'ort': 'Weinheim, Bergstraße'...",objective partner AG,2023-03-10,2023-03-10T08:05:15.234,2023-03-10,pRCxD_p7iKxhQTpBznlD9jAreUJTsdFe4nfa1Jael0k=,NaN,1jvu_XlGpoo2JswLrtK08mFvqiqv2iqAkxV9vTeHdns=
2,Entwickler/in - Datenvisualisierung,Junior Remote SAP Berater*in Logistik (w/m/d),12288-2853376731-S,"{'plz': '33604', 'ort': 'Bielefeld', 'region':...",NTT DATA Business Solutions,2023-02-06,2023-03-13T09:02:58.898,2023-03-14,mCkYJmLvFF1Z3JfwEDs0vx3VBXu9pSwyX41r-ai4prM=,https://www.persy.jobs/persy/l/job-9xg5c-b,NaN
3,Entwickler/in - Datenvisualisierung,SAP Berater mit Entwicklerkenntnissen oder SAP...,12288-2774567431-S,"{'plz': '19309', 'ort': 'Mellen bei Lenzen, El...",Biber & Associates,2022-12-19,2023-03-13T09:54:15.704,2023-03-14,GGQ7IeAYb2cmF2wROe7CXh4Gw8LesBX0ocgLVFqsRGA=,https://www.persy.jobs/persy/l/job-a4so0-b,NaN
4,Entwickler/in - Datenvisualisierung,SAP FICO Senior Applikations-Berater (m/w/d),12288-2640401452-S,"{'plz': '70499', 'ort': 'Stuttgart', 'region':...",Biber & Associates,2022-09-26,2023-03-13T09:21:59.523,2023-03-14,S0Yp6FAoFwYS-vEVnDJahRXWB6unl8fJgFecQmZCZHo=,https://www.persy.jobs/persy/l/job-986r4-b,NaN

Extend the Job Tables - add Job ID

In [4]:
for df in joblist:
    df['jobid'] = df['refnr'].apply(getJobID)

Union all Job Tables into one big Table

In [5]:
result = pandas.concat(joblist)
result.drop(columns='arbeitsort', inplace=True) #later we get this again from V2 API
result

,beruf,titel,refnr,arbeitgeber,aktuelleVeroeffentlichungsdatum,modifikationsTimestamp,eintrittsdatum,hashId,externeUrl,logoHashId,jobid
0,Entwickler/in - Datenvisualisierung,(Junior) Berater*in SAP Integration,12288-2850159721-S,NTT DATA Business Solutions,2023-02-06,2023-03-13T09:56:12.898,2023-03-14,lLhOlE7RbVfXGIJy0NQeLEExNY8nupp2pMOpK2nEXY8=,https://www.persy.jobs/persy/l/job-adqtt-b,NaN,MTIyODgtMjg1MDE1OTcyMS1T
1,Berater/in - digitale Transformation,SAP BI / BW Entwickler / Consultant (w/m/d),10000-1193549791-S,objective partner AG,2023-03-10,2023-03-10T08:05:15.234,2023-03-10,pRCxD_p7iKxhQTpBznlD9jAreUJTsdFe4nfa1Jael0k=,NaN,1jvu_XlGpoo2JswLrtK08mFvqiqv2iqAkxV9vTeHdns=,MTAwMDAtMTE5MzU0OTc5MS1T
2,Entwickler/in - Datenvisualisierung,Junior Remote SAP Berater*in Logistik (w/m/d),12288-2853376731-S,NTT DATA Business Solutions,2023-02-06,2023-03-13T09:02:58.898,2023-03-14,mCkYJmLvFF1Z3JfwEDs0vx3VBXu9pSwyX41r-ai4prM=,https://www.persy.jobs/persy/l/job-9xg5c-b,NaN,MTIyODgtMjg1MzM3NjczMS1T
3,Entwickler/in - Datenvisualisierung,SAP Berater mit Entwicklerkenntnissen oder SAP...,12288-2774567431-S,Biber & Associates,2022-12-19,2023-03-13T09:54:15.704,2023-03-14,GGQ7IeAYb2cmF2wROe7CXh4Gw8LesBX0ocgLVFqsRGA=,https://www.persy.jobs/persy/l/job-a4so0-b,NaN,MTIyODgtMjc3NDU2NzQzMS1T
4,Entwickler/in - Datenvisualisierung,SAP FICO Senior Applikations-Berater (m/w/d),12288-2640401452-S,Biber & Associates,2022-09-26,2023-03-13T09:21:59.523,2023-03-14,S0Yp6FAoFwYS-vEVnDJahRXWB6unl8fJgFecQmZCZHo=,https://www.persy.jobs/persy/l/job-986r4-b,NaN,MTIyODgtMjY0MDQwMTQ1Mi1T
...,...,...,...,...,...,...,...,...,...,...,...
95,Projektleiter/in,Projektmanager:in für Bauprojekte,11858-4912868-STA-S,Deutsche Bahn AG,2023-03-13,2023-03-13T10:16:41.028,2023-03-13,dRw2-kwl1gkywoLMUrxe90dRc-qOQj8c7-pPKtCUnwE=,https://www.stellenanzeigen.de/job/4912868/?ut...,NaN,MTE4NTgtNDkxMjg2OC1TVEEtUw==
96,Projektleiter/in,Bauingenieur:in als Projektmanager:in,11858-4912775-STA-S,Deutsche Bahn AG,2023-03-13,2023-03-13T10:17:26.403,2023-03-13,C1wl_y0ADuNAgh2KxvbinS-d4FwgnUYT_6VLfA1xNmU=,https://www.stellenanzeigen.de/job/4912775/?ut...,NaN,MTE4NTgtNDkxMjc3NS1TVEEtUw==
97,Projektleiter/in,Projektmanager:in KIB,11858-4912413-STA-S,Deutsche Bahn AG,2023-03-13,2023-03-13T10:16:21.196,2023-03-13,PBv4XRD_7VdtFyPBjsPkMgJxohTUcpjOc77DxpsR-kw=,https://www.stellenanzeigen.de/job/4912413/?ut...,NaN,MTE4NTgtNDkxMjQxMy1TVEEtUw==
98,Projektleiter/in,Senior Projektmanager:in,11858-4911668-STA-S,Deutsche Bahn AG,2023-03-13,2023-03-13T10:17:44.594,2023-03-13,ZJuYSMdHRfC3qvLyfKYQG74xXT5_xtb4uQd2Z4XcAhQ=,https://www.stellenanzeigen.de/job/4911668/?ut...,NaN,MTE4NTgtNDkxMTY2OC1TVEEtUw==
99,Projektleiter/in,Projektmanager:in - Baulogistik,11858-4911483-STA-S,Deutsche Bahn AG,2023-03-13,2023-03-13T10:15:42.987,2023-03-13,KaTOdum6qCynHhHN0myhb402uWjtWBP0C-A9Gfmn6yA=,https://www.stellenanzeigen.de/job/4911483/?ut...,NaN,MTE4NTgtNDkxMTQ4My1TVEEtUw==

store Table in DB

In [30]:
USER = os.environ.get('DB_USER')
PASSWORD = ''
engine = create_engine(f'mysql+pymysql://{USER}:{PASSWORD}@localhost/businessintelligence')
result.to_sql('jobboerse_v4', con=engine, index=False, if_exists='append')

1317

Example Link:  
https://rest.arbeitsagentur.de/jobboerse/jobsuche-service/pc/v2/jobdetails/MTIyODgtMjg1MDE1OTcyMS1T

### V2 API call

In [6]:
url = f'{base_url}jobboerse/jobsuche-service/pc/v2/jobdetails/'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:66.0) Gecko/20100101 Firefox/66.0',
    'accept': 'application/json',
}
jobs = await asyncio.gather(*[getJobInfo(f'{url}{jobID}', headers) for jobID in result['jobid']])

Create Deepcopy of <span style="color: #9CDCFE">jobs</span>.   
Used if some Error appear, it'll prevent to call the V2 API a second (thousand) times

In [7]:
jobs_v2 = copy.deepcopy(jobs)

> **Convert V2 JSON into normalized Schema**   
Flatmap into multiple rows

In [14]:
workplaces = filter(lambda json: 'arbeitsorte' in json, jobs_v2)
df_workplaces = pandas.json_normalize(workplaces, record_path=['arbeitsorte'], meta=['refnr', 'beruf'])
df_workplaces

,land,region,plz,ort,koordinaten.lat,koordinaten.lon,strasse,ortsteil,adresszusatz,refnr,beruf
0,Deutschland,Berlin,10178,Berlin,52.521090,13.409978,NaN,NaN,NaN,12288-2850159721-S,Entwickler/in - Datenvisualisierung
1,Deutschland,Baden-Württemberg,69469,"Weinheim, Bergstraße",49.552459,8.666605,Bergstr. 45/1,NaN,NaN,10000-1193549791-S,Berater/in - digitale Transformation
2,Deutschland,Nordrhein-Westfalen,33604,Bielefeld,51.998407,8.559824,NaN,NaN,NaN,12288-2853376731-S,Entwickler/in - Datenvisualisierung
3,Deutschland,Brandenburg,19309,"Mellen bei Lenzen, Elbe",53.154784,11.587326,NaN,NaN,NaN,12288-2774567431-S,Entwickler/in - Datenvisualisierung
4,Deutschland,Baden-Württemberg,70499,Stuttgart,48.814627,9.108302,NaN,NaN,NaN,12288-2640401452-S,Entwickler/in - Datenvisualisierung
...,...,...,...,...,...,...,...,...,...,...,...
1625,Deutschland,Hamburg,20095,Hamburg,53.550670,9.999740,NaN,NaN,NaN,11858-4912775-STA-S,Projektleiter/in
1626,Deutschland,Baden-Württemberg,70173,Stuttgart,48.781275,9.180619,NaN,NaN,NaN,11858-4912413-STA-S,Projektleiter/in
1627,Deutschland,Baden-Württemberg,76131,"Karlsruhe, Baden",49.017685,8.422142,NaN,NaN,NaN,11858-4911668-STA-S,Projektleiter/in
1628,Deutschland,Bayern,80331,München,48.135630,11.573991,NaN,NaN,NaN,11858-4911483-STA-S,Projektleiter/in
1629,Deutschland,Bayern,90402,"Nürnberg, Mittelfranken",49.450847,11.089621,NaN,NaN,NaN,11858-4911483-STA-S,Projektleiter/in

In [41]:
skills = filter(lambda json: 'fertigkeiten' in json, jobs_v2)
df_skills = pandas.json_normalize(skills, record_path=['fertigkeiten'], meta=['refnr', 'beruf'])
df_skills = df_skills.melt(['refnr', 'beruf', 'hierarchieName'], var_name='auspraegung', value_name='fertigkeit')
df_skills['auspraegung'] = df_skills['auspraegung'].apply(lambda value: value.replace('auspraegungen.', ''))
df_skills = df_skills.explode('fertigkeit')
df_skills = df_skills.assign(**{'hierarchieName':df_skills['hierarchieName'].str.split(',')})
df_skills = df_skills.explode('hierarchieName')
df_skills.rename(columns={'hierarchieName': 'Kategorie'}, inplace=True)
df_skills

,refnr,beruf,Kategorie,auspraegung,fertigkeit
0,10000-1193549791-S,Berater/in - digitale Transformation,IT,4,SAP BW (Business Information Warehouse)
0,10000-1193549791-S,Berater/in - digitale Transformation,DV,4,SAP BW (Business Information Warehouse)
0,10000-1193549791-S,Berater/in - digitale Transformation,Computer,4,SAP BW (Business Information Warehouse)
0,10000-1193549791-S,Berater/in - digitale Transformation,IT,4,SAP S/4HANA
0,10000-1193549791-S,Berater/in - digitale Transformation,DV,4,SAP S/4HANA
...,...,...,...,...,...
1978,12362-PUB394371_405324LS-S,IT-Vertriebsbeauftragte/r,IT,3,NaN
1978,12362-PUB394371_405324LS-S,IT-Vertriebsbeauftragte/r,DV,3,NaN
1978,12362-PUB394371_405324LS-S,IT-Vertriebsbeauftragte/r,Computer,3,NaN
1979,12362-PUB394371_405324LS-S,IT-Vertriebsbeauftragte/r,Wirtschaft,3,NaN
1979,12362-PUB394371_405324LS-S,IT-Vertriebsbeauftragte/r,Verwaltung,3,NaN

In [75]:
strength = filter(lambda json: 'staerken' in json, jobs_v2)
df_strength = pandas.json_normalize(strength, record_path=['staerken'], meta=['refnr', 'beruf'])
df_strength.rename(columns={0: 'staerken'}, inplace=True)
df_strength

,staerken,refnr,beruf
0,Analyse- und Problemlösefähigkeit,10000-1188808998-S,ERP-Anwendungsentwickler/in
1,Lernbereitschaft,10000-1188808998-S,ERP-Anwendungsentwickler/in
2,Ganzheitliches Denken,10000-1188808998-S,ERP-Anwendungsentwickler/in
3,Zuverlässigkeit,10000-1188808998-S,ERP-Anwendungsentwickler/in
4,Teamfähigkeit,10000-1188808998-S,ERP-Anwendungsentwickler/in
...,...,...,...
747,Kommunikationsfähigkeit,14818-k37299.19307-S,Projektleiter/in
748,Organisationsfähigkeit,14818-k37299.19307-S,Projektleiter/in
749,Auffassungsfähigkeit/-gabe,14818-k37299.19307-S,Projektleiter/in
750,Ganzheitliches Denken,14818-k37299.19307-S,Projektleiter/in
751,Selbständiges Arbeiten,14818-k37299.19307-S,Projektleiter/in

In [67]:
language = filter(lambda json: 'sprachkenntnisse' in json, jobs_v2)
df_language = pandas.DataFrame(language)
df_language = df_language.filter(['refnr', 'beruf', 'sprachkenntnisse'], axis=1)
df_language =  pandas.concat([df_language.drop(['sprachkenntnisse'], axis=1), df_language['sprachkenntnisse'].apply(pandas.Series)], axis=1)
df_language = df_language.melt(['refnr', 'beruf'], var_name='auspraegung', value_name='sprache')
df_language = df_language.explode('sprache')
df_language

,refnr,beruf,auspraegung,sprache
0,10000-1193549791-S,Berater/in - digitale Transformation,4,Deutsch
1,10000-1188808998-S,ERP-Anwendungsentwickler/in,4,Deutsch
2,10000-1193452689-S,IT-Projektkoordinator/in,4,NaN
3,14119-msyn335792-S,IT-Projektkoordinator/in,4,NaN
4,10000-1193515392-S,IT-Projektkoordinator/in,4,NaN
...,...,...,...,...
975,10000-1192662523-S,Projektleiter/in,3,Englisch
976,11956-1677301678575601-S,IT-Projektkoordinator/in,3,Deutsch
977,16937-k58843.1001-S,Projektingenieur/in,3,Englisch
978,14818-k37299.19307-S,Projektleiter/in,3,Deutsch
979,12362-PUB394371_405324LS-S,IT-Vertriebsbeauftragte/r,3,NaN

In [87]:
df_job = pandas.DataFrame(jobs_v2)
df_job.drop(['arbeitgeberHashId', 'hashId', 'chiffrenummer', 'hauptDkz', 'arbeitgeberLogoHashId', 'kundennummerHash', 'alternativDkzs', 'messages', 'logref'], axis=1, inplace=True)
df_job.drop(['arbeitsorte', 'arbeitszeitmodelle', 'fertigkeiten', 'sprachkenntnisse', 'staerken'], axis=1, inplace=True)
df_job.columns.values

array(['aktuelleVeroeffentlichungsdatum', 'laufzeitBis', 'angebotsart',
       'arbeitgeber', 'branchengruppe', 'befristung', 'uebernahme',
       'betriebsgroesse', 'eintrittsdatum',
       'ersteVeroeffentlichungsdatum', 'allianzpartner',
       'allianzpartnerUrl', 'externeUrl', 'titel', 'beruf',
       'modifikationsTimestamp', 'stellenbeschreibung', 'refnr',
       'fuerFluechtlingeGeeignet', 'nurFuerSchwerbehinderte',
       'anzahlOffeneStellen', 'arbeitgeberAdresse', 'mobilitaet',
       'fuehrungskompetenzen', 'istBetreut',
       'istPrivateArbeitsvermittlung', 'istZeitarbeit',
       'istGoogleJobsRelevant', 'anzeigeAnonym', 'branche',
       'berufserfahrung', 'arbeitgeberdarstellung', 'timestamp',
       'alternativBerufe', 'arbeitgeberdarstellungUrl', 'verguetung',
       'tarifvertrag', 'informationenZurArbeitszeit',
       'sonstigesAusbildung', 'lizenzen', 'ausbildungen',
       'befristungDatum', 'befristungDauer'], dtype=object)

In [88]:
USER = os.environ.get('DB_USER')
PASSWORD = ''
engine = create_engine(f'mysql+pymysql://{USER}:{PASSWORD}@localhost/businessintelligence')
df_workplaces.to_sql('arbeitsplatz', con=engine, index=False, if_exists='append') 
df_skills.to_sql('fertigkeit', con=engine, index=False, if_exists='append') 
df_strength.to_sql('staerke', con=engine, index=False, if_exists='append') 
df_language.to_sql('sprache', con=engine, index=False, if_exists='append')
df_job.to_sql('job_v2', con=engine, index=False, if_exists='append')

1024

### Helper zur Analyse

In [42]:
with open('test.json', 'w') as to_file:
    json.dump(jobs_v2[126], to_file, indent=4, sort_keys=True)

In [76]:
df_skills.to_csv('test.csv', index=True)