# LinkedIn Webscraper

## Part I
Getting Data from LinkedIn

In [1]:
from bs4 import BeautifulSoup
from datetime import datetime 
import pandas
import requests
from sqlalchemy import create_engine

In [ ]:
positions = [
    'SAP-Entwickler/SAP-Berater',
    'IT-Projektmanager',
    'Softwareentwickler',
    'Business Intelligence Analyst',
    'IT-Controller',
    'IT-Berater',
    'Produktmanager',
    'App-Entwickler',
    'Anwendungsentwickler',
    'Datenbankspezialist',
    'ERP Manager'
]

In [2]:
joblistings = []

for position in positions:
    url = f'https://de.linkedin.com/jobs/{position}-stellen?position=1&pageNum=0'
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    posts = soup.find_all('div', class_ = 'base-card')
    for post in posts:
        title = post.find('h3', class_ = 'base-search-card__title').text.strip()
        company = post.find('h4', class_ = 'base-search-card__subtitle').text.strip()
        try:
            location = post.find('span', class_ = 'job-search-card__location').text.strip()
        except:
            location = 'unknown'
        link = post.find('a', class_ = 'base-card__full-link').get('href')
        job = {
            'title': title,
            'company': company,
            'location': location,
            'link': link,
            'Date': datetime.now().date(),
            'Timestamp': datetime.now().time()
        }
        joblistings.append(job)

df_job = pandas.DataFrame(joblistings)
df_job

,title,company,location,link,Date,Timestamp
0,SAP Developer/Consultant*,Xaption GmbH,Steinen,https://de.linkedin.com/jobs/view/sap-develope...,2023-02-21,20:30:30.665236
1,SAP Inhouse Consultant / Entwickler (m|w|d),ADAC,München,https://de.linkedin.com/jobs/view/sap-inhouse-...,2023-02-21,20:30:30.665236
2,Digitalisierungsmanager SAP (m/w/d),hanfried Personaldienstleistungen GmbH,Hamburg,https://de.linkedin.com/jobs/view/digitalisier...,2023-02-21,20:30:30.665236
3,(Senior) Consultant und Architekt SAP * (Remote),Evora IT Solutions,Walldorf,https://de.linkedin.com/jobs/view/senior-consu...,2023-02-21,20:30:30.665236
4,IT Solution Architect SAP CO (w/m/d),STIHL,Fellbach,https://de.linkedin.com/jobs/view/it-solution-...,2023-02-21,20:30:30.665236
...,...,...,...,...,...,...
231,Datenbank-Entwickler (m/w/d),Wego Systembaustoffe GmbH,Bremen,https://de.linkedin.com/jobs/view/datenbank-en...,2023-02-21,20:30:39.811796
232,"Datenbank Spezialist (m/w/d) Oracle, MS-SQL, etc.",KION Group,Würzburg,https://de.linkedin.com/jobs/view/datenbank-sp...,2023-02-21,20:30:39.811796
233,Datenbankspezialist Entwicklung & Konzeption (...,DAVASO – an IQVIA business,Deutschland,https://de.linkedin.com/jobs/view/datenbankspe...,2023-02-21,20:30:39.811796
234,"Datenbank Spezialist (m/w/d) Oracle, MS-SQL, etc.",Dematic,Würzburg,https://de.linkedin.com/jobs/view/datenbank-sp...,2023-02-21,20:30:39.811796
235,Datenbank Administrator (w/m/d),Körber Supply Chain,Bad Nauheim,https://de.linkedin.com/jobs/view/datenbank-ad...,2023-02-21,20:30:39.811796

## Part II

Saving Data to a Database

In [6]:
# connection = create_engine('mysql+pymysql://root:@localhost/businessintelligence')
# df_job.to_sql('job', con=connection, index=False, if_exists='append')